# common
*.*~

# Cmake
/build/
/build_*/
/build-*/

# Conan
/conan/test_package/build/
/conan/graph_info.json
CMakeUserPresets.json

# Clang tooling #
.clangd/
compile_commands.json

# Vim
*.swp
*.swo

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# OS X

## system
*.DS_Store

## XCode ##
*.pbxuser
*.xccheckout
*.mode1v3
xcuserdata/
*.dSYM


# Windows

## system
Thumbs.db

## Visual Studio ##
*.suo
*.sdf
*.ncb
*.user
ipch
.vscode
